
<div style='border: 3px dashed orange'>
<img src='http://bit.ly/1eze8aE'>
</div>

<h1>My name is  <%= @name %>.</h1>

<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="submit">
  </form>
